* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.newUser, .usersList {
    width: 40%;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
}

.wrapper {
    display: flex;
}

p {
    font-size: 20px;
    margin: 5px 0;
}

input {
    width: 100%;
}

td {
    text-align: center;
    height: 29px;
}

input:focus {
    outline: none;
    border: 1px solid gray;
    border-radius: 3px;
    
}

.newUser_form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.newUser_btn_addUser, .user-edit-btn {
    margin-top: 10px;
    background-color: white;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgb(43, 199, 38);
    color: rgb(43, 199, 38);
}

.btn {
    width: 55px;
    height: 23px;
    border: none;
    border-radius: 5px;
}


.edit-btn {
    background-color: rgb(50, 199, 36);
    color: white;
}

.dlt-btn {
    background-color: red;
    color: white;
}

.newUser_btn_addUser:hover {
    color: white;
    background-color: rgb(43, 199, 38);
    border: 2px solid white;
}

table {
    width: 100%;
    border-collapse: collapse; 
}

.table_head {
    border-top:  1px solid rgb(199, 199, 199);
    border-bottom:  0.5px solid rgb(199, 199, 199);
}

.hide {
    display: none;
}